.project__name {
  font-weight: 700;
}

.project__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.project__summaries {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project__summary {
}

.project__points {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-block-start: 2rem;

  @include tablet {
    align-items: flex-start;
  }
}

.point {
  display: flex;
  justify-content: center;
  align-items: center;
}

.point__marker {
  margin-inline-end: 0.5rem;
}

.point__marker::after {
  display: inline-block;
  content: '*';
  font-size: 1.25rem;
}

.point__content {
}
