// same style as link--button
.badge {
  font-size: 1.6rem;
  width: 50%;
  display: block;
  text-align: center;
  padding: 1rem 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-decoration: none;

  @include mobile {
    width: 40%;
  }

  @include tablet {
    width: fit-content;
    padding-inline: 1rem;
  }
}
