body {
  @include font;
  background-color: whitesmoke;
}

.portfolio {
  padding: 2.5rem 1rem;

  @include tablet {
    margin-inline: 1rem;
  }

  @include desktop {
    margin-inline: auto;
    max-width: 99.2rem;
  }
}

.portfolio__container {
  @include tablet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 2.5rem;
  }
}

.portfolio__title {
  font-size: 3rem;
  margin-block-end: 1rem;
}

.portfolio__content {
  @include tablet {
    flex-grow: 1;
    width: 100%;
  }
}

.portfolio__header {
  font-size: 2.5rem;
  font-weight: 700;
  margin-block: 2.5rem;
}

.portfolio__header--work {
  @include tablet {
    margin-block-start: 0;
  }
}

.portfolio__cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-block-end: 1.5rem;
}
