.card {
}

.card--border {
  border: 1px solid black;
  padding: 1rem;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__header--clickable {
  cursor: pointer;
}

// css triangle: https://stackoverflow.com/a/7091927
.card__header::after {
  content: '';
  border: 0.4rem solid transparent;
}

.card__header--closed::after {
  margin-block-start: 0.4rem;
  border-block-start-color: gray;
}

.card__header--open::after {
  margin-block-end: 0.4rem;
  border-block-end-color: gray;
}
