.card {
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.card__title {
  font-size: 1rem;
}

.card__body {
}

.card__list {
}

.card__point {
}
