.sidebar {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  background-color: gainsboro;
  padding: 1rem;

  @include tablet {
    width: min-content;
    height: min-content;
    position: sticky;
    inset-block-start: 0;
    inset-inline-start: 0;
  }
}

.sidebar__photo {
  display: block;
  margin-inline: auto;
  width: auto;
  max-height: 15rem;
  margin-block-end: 1rem;
}

.sidebar__contacts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @include tablet {
    gap: 1.5rem;
  }

  @include desktop {
    gap: 2.5rem;
  }
}

.sidebar__intro {
  text-align: center;
}

.sidebar__anchors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.sidebar__anchor {
  @include tablet {
    width: 75%;
  }
}
