.link {
}

.link--link {
}

.link--button {
  width: 40%;
  display: block;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-decoration: none;
}
