.link {
  font-size: 1.6rem;
}

.link--link {
}

.link--button {
  width: 40%;
  display: block;
  text-align: center;
  padding: 1rem 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-decoration: none;

  @include tablet {
    width: fit-content;
    padding-inline: 1rem;
  }
}
